
$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}
.light-theme {
    --main-Color: #15023a;
    --bg-color: rgba(29, 10, 19, 0.422);

}
.dark-theme{
    --main-Color: #6d25df;
    --bg-color: #0e0c11;
}
$mainColor: var(--main-Color);